body{
    font-family:'poppins', sans-serif;
    margin: 0px;
}
.red-color{
    color: rgb(230, 115, 21);
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.shorter-width{
    width: 40%;
    padding: 10%;

}
.shorter-width img{
    width: 100%;
    padding-right: 20%;
    margin-bottom: 100px;
}
p{
    font-weight: 690px;
}
.vertical-line{
    border: 5px solid orangered;
    border-bottom: 100px;
    border-right:100px;
    border-top: 100px;
    padding-left: 10px;
    border-radius: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    color: white;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}
.color-text{
    color:orangered;
    margin: 0px;
    margin-bottom: 10px;
}
#center-text{
    text-align: center;
    margin: 0px;
}
.mission-2022{
    display: flex;
    /* margin-right: 40px;
    padding-right: 20px;  */
}

.illustrator-1 img{
    width: 40%;
}
.illustrator-1{
    background-color: powderblue;
    width: 50%;
    width: 40%;
    background-color: powderblue;
    margin-left: 100px;
    border-radius: 20px;
    padding-left: 10px;
}
.illustrator-1 img{
    width:50%;
}
.illustrator-2{
    background-color: cyan;
    border-radius: 20px;
    margin-left: 10px;
    padding-left: 20px;
    
}
.illustrator-2 img{
    width:50%;
}
.illustrator-3{
    background-color: yellow;
    border-radius: 20px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 170px;
}
.illustrator-3 img{
    width: 40%;
}
.mission{
    margin-right: 10px;
    padding-left: 10px;
}
.last-second{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 220px;
}

.last-second img{
    width: 30%;
}
#develop{
    margin-left: 20px;
    margin-top: 100px;
    
}
.button-2{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    color: white;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}
#left-banner{
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 180px;
    
 
    }
.last-part{
    display: flex;
}
.last-part img {
    width: 50%;
    margin-left: 40px;
}
.global{
    margin-top: 50px;
    margin-left: 70px;
}
.project{
    margin-top: 40px;
    background-image:url(images/shapes/shape-1.png);
    background-size: 230px;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 140px;
    background-position: relative;
    margin-right: 220px;
}
.end{
    text-align: center;
    margin-top: 200px;
    background-color: black;
    color: white;
    padding-bottom: 30px;
    padding-top:30px;
}
#blue{
    color:orangered;
    font-family: 'popins' sans-serif;
}