body{
    margin: 0px;
}
.red-color{
    color: rgb(230, 115, 21);
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.shorter-width{
    width: 30%;
    padding: 10%;

}
.shorter-width img{
    width: 80%;
}
section{
    display: flex;
}